<template>
  <form class="w-full md:w-6/12 mx-auto" @submit.prevent="addTodo">
    <div class="form-control">
      <input type="text" name="todo" v-model="content" class="block w-full border-orange bg-white flex-1 rounded-none rounded-r-md  focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="Ex: Learn VueJs"/>
      <base-button class='btn-r' :class="{'disabled': !content }">Add Todo</base-button>
    </div>
  </form>
</template>

<script>
import { db } from '@/firebase/index'
import { doc, updateDoc, deleteDoc, addDoc, collection } from "firebase/firestore";
  export default {
    data() {
      return {
        test: false,
        content: '',
        todos: []
      }
    },
    methods: {
      addTodo() {
        addDoc(collection(db, 'todos'), {
          content: this.content,
          done: false
        });
        this.$router.push({path: '/'}),
        this.content = ''
      },
    }
  }


</script>

<style scoped>

  .btn-r {
    margin-top: 10px;
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }


</style>