<template>
  <todo-form  v-for="todo in todos" :key="todo.id">
      <template v-slot:content>
        <p :class="{done: todo.done}" class="text-base font-roboto text-coral2 font-medium  ml-2">
          {{ todo.content }}
        </p>
      </template>
      <template v-slot:actions >
        <svg  xmlns="http://www.w3.org/2000/svg"
              @click="markDone(todo.id)"
              fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
          <title>Mark as done</title>
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <svg  xmlns="http://www.w3.org/2000/svg"
              @click="deleteTodo(todo.id)"
              fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <title>Delete todo</title>
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>
      </template>
  </todo-form>
  <router-link to="/add-todo" class="float-right">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F29422" class="w-8 h-8">
      <title>Add todo</title>
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
  </router-link>
</template>

<script>

import { db } from '@/firebase/index'
import { doc, updateDoc, deleteDoc} from "firebase/firestore";
import { collection, onSnapshot, } from "firebase/firestore";

/*
  firebase Refs
*/

const todosCollection = collection(db, 'todos')

  export default  {
    data() {
      return  {
        content: '',
        todos: [],
      }
    },
    created() {
      onSnapshot(collection(db, 'todos'), (querySnapshot) => {
        const fbTodos = []
        querySnapshot.forEach((doc) => {
          const todo = {
             id: doc.id,
             content: doc.data().content,
             done: doc.data().done
          }
          fbTodos.unshift(todo)
        })
        this.todos = fbTodos
      });
    },
    methods: {

      markDone(id) {
        const index = this.todos.findIndex( todo => todo.id === id)
        updateDoc(doc(todosCollection, id), {
          done: !this.todos[index].done
        });
      },
      deleteTodo(id) {
        deleteDoc(doc(collection(db, 'todos'), id));
      }
    }
  }
</script>

<style scoped >
  .done {
    text-decoration:line-through;
    color: orange
  }




</style>