<template>
  <div v-if="$route.path === '/'" class="text-center font-roboto w-3/4 rounded-md mx-auto bg-orange py-4">
    <p><h2 class="text-4xl  text-white">Todo List</h2></p>
  </div>
  <div  v-else class="text-center font-roboto w-3/4 rounded-md mx-auto bg-orange py-4">
    <p><h2 class="text-4xl text-white">Add new todo</h2></p>
  </div>

</template>
  <!--
    https://nulab.com/backlog-lp/issue-tracking/?utm_source=google&utm_medium=cpc&utm_campaign=19693617243&utm_term=online%20to%20do%20list&gclid=Cj0KCQjwk7ugBhDIARIsAGuvgPZY1qEB2_wSumsC5xDh3Cb1y5D6kxt_SV_sjHNYGvtkJVb4k_d84XQaApw0EALw_wcBw
   -->
<script>
export default {

}

</script>