<template>
  <div
    class='flex justify-between
     mx-auto rounded-lg border
     border-orange bg-white py-4 my-4 w-12/12 md:w-6/12'
  >
    <div>
      <slot name="content"></slot>
    </div>
    <div class="flex mr-2">
      <slot name='actions'></slot>
    </div>
  </div>

</template>

<style scoped>



</style>