<template>
  <the-header></the-header>
  <todos-card>

    <router-view/>
  </todos-card>

</template>

<script>
  import TheHeader from './components/TheHeader.vue';
  export default {
    components: {
      TheHeader
    }
  }
</script>

<style>

</style>
