<template>
  <button>
    <slot></slot>
  </button>
</template>

<script>

  export default {

  }
</script>

<style scoped>
  button {
    padding: 8px 12px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    background-color: #F28066;
    border: 1px solid #F27166;
    color: white;
    cursor: pointer;
  }

  button:hover,
  button:active {
    background-color: #F27166;
    border-color: #F27166;
  }

</style>
