<template>
  <div class="w-3/4 mx-auto p-4 mt-10 overflow-hidden
              bg-white rounded-lg
              shadow-[0_1px_40px_-12px_rgba(0,0,0,0.3)]">
    <slot></slot>
  </div>
</template>

<script>
  export default {

  }
</script>
